<footer class="text-center">
        <div class="container text-center">
                <span class="text-muted credit">&copy; <a target="_blank" href="https://www.gergely-szabo.com/">Gergely Szabo</a> {{getCurrentYear}}</span>
        </div>
</footer>