<div class="text-center warning">
    <span>The site's functionality was restored as I figured out a way to bring it back and keep it running at a low cost. It will not receive any further updates or bug fixes.</span>
    <br>
    <span>My browser extension has the same functionality and much more, like: In-browser inspect, trade locks, doppler phases, bookmarking, floats, trade site bumping and much more.</span>
    <br>
    <span>It's called CSGO Trader - Steam Trading Enhancer, you can find out more about it here: <a style="color:black; text-decoration: underline;" target="_blank" href="https://csgotrader.app/">csgotrader.app</a>.</span>
</div>