<!DOCTYPE html>
<html lang="en">
<head>
    {{> analytics}}

    <meta charset="UTF-8">
    <title>Changelog</title>

    {{> include}}


</head>
<body>
{{> obsolescence}}
{{> navigation}}


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 style="margin: 1rem">Changelog</h1>
            <p> Please feel free to report any bugs or suggest features.</p>
            <h4 class="changelogDate">2018-06-22</h4>
            <div class="changelogList">
                <ul>
                    <li>Inventory content is now loading separately from the page with a loading spinner improving user experience</li>
                    <li>Home page and navigation redesign</li>
                    <li>Added open graph image for social sharing</li>
                    <li>Miscellaneous style changes</li>
                </ul>
            <h4 class="changelogDate">2018-06-19</h4>
            <div class="changelogList">
                <ul>
                    <li>Even non-tradable and non-marketable items are listed like medals and default weapons</li>
                    <li>Commodity items like keys and cases that are the same type and unlock on the same day are now grouped</li>
                </ul>
            <h4 class="changelogDate">2018-06-17</h4>
            <div class="changelogList">
                <ul>
                    <li>All filters added and fully functional with search</li>
                    <li>New flat design for inventory items</li>
                    <li>Miscellaneous style changes</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-14</h4>
            <div class="changelogList">
                <ul>
                    <li>Added filtering for nametagged and StatTrak items</li>
                    <li>Added Steam Profile and SteamRep Profile links to profiles</li>
                    <li>Started to redesign inventory items' list, they now show wall-to-wall</li>
                    <li>Miscellaneous style changes</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-13</h4>
            <div class="changelogList">
                <ul>
                    <li>Merged inventory search and filter sections</li>
                    <li>Added filter reset button</li>
                    <li>Added slidebar to filter items by the length of the trade lock</li>
                    <li>Miscellaneous style changes</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-12</h4>
            <div class="changelogList">
                <ul>
                    <li>Weapon filters are now listed vertically (thanks <a target="_blank" href="https://steamcommunity.com/id/Heimburger/">Heimburger</a> for the idea)</li>
                    <li>Added tooltips so different icons are more distinguishable now</li>
                    <li>Fixed SG 553 icon (thanks <a target="_blank" href="https://steamcommunity.com/profiles/76561198176818735/">PatkarR</a> for the find)</li>
                    <li>Added favicon</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-08</h4>
            <div class="changelogList">
                <ul>
                    <li>Improved item search and brought it to it's final form</li>
                    <li>Added filter icons to filter by weapon</li>
                    <li>Changed some of the styling on the inventory page</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-07</h4>
            <div class="changelogList">
                <ul>
                    <li>Added inventory item search (still in beta)</li>
                    <li>Minor style changes</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-06</h4>
            <div class="changelogList">
                <ul>
                    <li>Added permanent search field to the navigation bar for inventory lookups</li>
                    <li>Reorganized /iventory/ pages</li>
                    <li>Modified design and allocated places for search and filter functions on /inventory/ pages</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-05</h4>
            <div class="changelogList">
                <ul>
                    <li>Inventories now load on their own pages instead of the homepage with the site's description</li>
                    <li>Added basic profile information and profile link to inventory pages</li>
                </ul>
            </div>
            <h4 class="changelogDate">2018-06-03</h4>
            <div class="changelogList">
                <ul>
                    <li>Added Inspect links to items</li>
                    <li>Added Steam Community Market links to items</li>
                    <li>Added border coloring based on whether an item is tradable (green if it is, red if it is not)</li>
                    <li>Added item name tags</li>
                    <li>Colored items based on quality (red for covert, purple for classified, etc.)</li>
                    <li>Added changelog page</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{> footer}}