body {
    padding-top: 54px;
    background-color: #1d2124;
}
h1,h2,h3,h4,h5,p,ul,li {
    color: white;
}

ul, li{
    text-align: left;
    list-style-position: inside;
}

footer{
    margin: 1rem;
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.navInput{
    background-color: #1d2124;
    color: white;
    border-color: #1d2124;
}

.changelogDate{
    text-align: left;
    margin: 1rem;
}

.changelogList{
    align-content: center;
}

.actionIcons{
    color: white;
    margin: 1rem;
}

.steamOnlineBlue{
    color: #57cbde;
}

.slider{
    -webkit-appearance: none;
    width: 20%;
    height: 5px;
    background: white;
    outline: none;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #57cbde;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #57cbde;
    cursor: pointer;
    border-radius: 50%;
}

.filterWeaponCategory{
    text-align: center;
}

.filterIcon{
    font-family: 'CsgoIcons';
    font-size: 1.5rem;
    color: #57cbde;
    margin: 0;
    padding: 0;

    /*For zoom*/
    -webkit-transform: scale(1, 1); /*This is the scale for the normal size of the image.*/
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1, 1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1, 1);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
}

/*For zoom*/
.filterIcon:hover{
    color: white;
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.1, 1.1);  /*This is the enlarged size scale of the image.*/
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.1, 1.1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.10, 1.10);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.clickedIcon{
    color: white;
}

.online{
    border-color: #57cbde;
    color: #57cbde;
}

.offline{
    border-color: #898989;
    color: #898989;
}

.ingame{
    border-color: #90ba3c;
    color: #90ba3c;
}

.nametag{
    position: absolute;
    left: 40%;
    top: 15%;
    font-size: 0.8em;
    color: #9fcdff;
}

.count{
    color: yellow;
    position: absolute;
    /*right: 50%;*/
    left: 40%;
    bottom: 40%;
    font-size: 2.5em;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.exterior{
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
}

.statTrak{
    color: rgb(207, 106, 50);
    position: absolute;
    right: 0px;
    bottom: 25px;
}

.countdown{
    margin-top: 0.5rem;
    color:red;
    text-align: center;
}

.inventoryItem{
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 286px;
    border-bottom: solid;
    border-width: 4px;
}

.inventoryBuildingBlock{
    align-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #23272b;
}

.subBlock{
    background-color: #313435;
    margin: 2px;
}

.itemImage{
    width: 256px;
    height: 256px;
}

.itemImageContainer{
    text-align: center;
    position: relative;
}

.iconsUnderItemImage{
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.base_grade, .consumer_grade{
    background: rgba(255, 255, 255, .2); !important;
    border-color: rgba(255, 255, 255);
}

.classified, .exotic{
    background: rgba(211, 44, 230, .2); !important;
    border-color: rgba(211, 44, 230);
}

.contraband{
    background: rgba(228, 174, 57, .2); !important;
    border-color: rgba(228, 174, 57);
}

.covert, .extraordinary{
    background: rgba(235, 75, 75, .2); !important;
    border-color: rgba(235, 75, 75);
}

.high_grade, .milspec_grade{
    background: rgba(75, 105, 255, .2); !important;
    border-color: rgba(75, 105, 255);
}

.industrial_grade{
    background: rgba(94, 152, 217, .2); !important;
    border-color: rgba(94, 152, 217);
}

.restricted, .remarkable{
    background: rgba(136, 71, 255, .2); !important;
    border-color: rgba(136, 71, 255);
}

.stock{
    background: rgba(106, 97, 86, .2); !important;
    border-color: rgba(106, 97, 86);
}

.darkInput{
    background-color: #1d2124;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-color: #1d2124;;
}

#avatar{
    margin: 1rem;
    border-bottom: solid;
    border-width: 0.3rem;

}

#steam_user_input_main{
    width: 60%;
}

#onPageSearch{
    width: 80%;
}

#searchTitle{
    font-size: 2rem;
    color: white;
}

#loadingInvText{
    font-size: 1.5rem;
    color: white;
}

#inventory{
    margin-top: 0;
}

#loadingInvSpinnerContainer{
    align-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
}


#error{
    color:red;
}



@font-face {
    font-family: 'CsgoIcons';
    src:  url('../fonts/csgo_icons.woff') format('woff'),
    url('../fonts/csgo_icons.ttf')  format('truetype'),
    url('../fonts/csgo_icons.svg#csgo_icons') format('svg');
    /*https://www.unknowncheats.me/forum/cs-go-releases/169881-csgo-weapon-icons-ttf-font.html*/
}

