body {
    padding-top: 54px;
    background-color: #1d2124;
}
h1,h2,h3,h4,h5,p,ul,li {
    color: white;
}

ul, li{
    text-align: left;
    list-style-position: inside;
}

footer{
    margin: 1rem;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.changelogDate{
    text-align: left;
    margin: 1rem;
}

.changelogList{
    align-content: center;
}

.actionIcons{
    color: white;
    margin: 1rem;
}

.steamOnlineBlue{
    color: #57cbde;
}

.slider{
    -webkit-appearance: none;
    width: 20%;
    height: 5px;
    background: white;
    outline: none;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #57cbde;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #57cbde;
    cursor: pointer;
    border-radius: 50%;
}

.filterWeaponCategory{
    text-align: center;
}

.filterIcon{
    font-family: 'CsgoIcons';
    font-size: 1.5rem;
    color: #57cbde;
    margin: 0;
    padding: 0;

    /*For zoom*/
    -webkit-transform: scale(1, 1); /*This is the scale for the normal size of the image.*/
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1, 1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1, 1);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;
}

/*For zoom*/
.filterIcon:hover{
    color: white;
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.1, 1.1);  /*This is the enlarged size scale of the image.*/
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;

    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.1, 1.1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-out;

    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.10, 1.10);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-out;

}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.clickedIcon{
    color: white;
}

.online{
    border-color: #57cbde;
    color: #57cbde;
}

.offline{
    border-color: #898989;
    color: #898989;
}

.ingame{
    border-color: #90ba3c;
    color: #90ba3c;
}

.nametag{
    font-size: 0.7em;
    color: #9fcdff;
}

.countdown{
    color:red;
}

.inventoryItem{
    padding: 0.5rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lawngreen;
    background-color: black;
    margin: 0.5rem;
}

.inventoryBuildingBlock{
    align-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #23272b;
    border-radius: 5px;
}

.subBlock{
    background-color: #313435;
    margin: 2px;
}


.base_grade, .consumer_grade{
    background: rgba(255, 255, 255, .2); !important;
}

.classified, .exotic{
    background: rgba(211, 44, 230, .2); !important;
}

.contraband{
    background: rgba(228, 174, 57, .2); !important;
}

.covert, .extraordinary{
    background: rgba(235, 75, 75, .2); !important;
}

.high_grade, .milspec_grade{
    background: rgba(75, 105, 255, .2); !important;
}

.industrial_grade{
    background: rgba(94, 152, 217, .2); !important;
}

.restricted, .remarkable{
    background: rgba(136, 71, 255, .2); !important;
}

footer {
    display: flex;
    align-items: center;
}

#avatar{
    margin: 1rem;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5rem;

}

#onPageSearch{
    width: 80%;

}

#lock_time_slider{
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
}

#profileInfo{
}

#filters{
}

#search{
}

#inventory{

}


@font-face {
    font-family: 'CsgoIcons';
    src:  url('../fonts/csgo_icons.woff') format('woff'),
    url('../fonts/csgo_icons.ttf')  format('truetype'),
    url('../fonts/csgo_icons.svg#csgo_icons') format('svg');
    /*https://www.unknowncheats.me/forum/cs-go-releases/169881-csgo-weapon-icons-ttf-font.html*/
}


#error{
    color:red;
}


